<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893582097322-qtdugj24v6fq3nq4u49ei2p9au7dn6aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893582097322-qtdugj24v6fq3nq4u49ei2p9au7dn6aq</string>
	<key>API_KEY</key>
	<string>AIzaSyD5CvwX-lW6K7UYaGTC84cW54Bd43CpWzc</string>
	<key>GCM_SENDER_ID</key>
	<string>893582097322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TraceCo.Trace</string>
	<key>PROJECT_ID</key>
	<string>geosnapv1</string>
	<key>STORAGE_BUCKET</key>
	<string>geosnapv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893582097322:ios:7d2cf66fa57397dc0709d3</string>
	<key>DATABASE_URL</key>
	<string>https://geosnapv1-default-rtdb.firebaseio.com</string>
</dict>
</plist>